<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.teamnovelvn.sakuranovel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.FeedbackActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.NewPasswordActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.InfoActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.ThongTinNovel" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.SettingActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.TruyenNovel" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.FaqActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.SearchActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.TypeActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.FavoriteActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.LoginLibActivity" />
        <activity android:name="com.android.teamnovelvn.sakuranovel.Activity.GenreAnimeActivity"></activity>
    </application>

</manifest>